<!DOCTYPE html>
<html lang="en">
  <head>
    {{> html/head }}

    <style>
      {{> css/common}}

      .search-bar {
        padding:10px;
        background-color:#EEEEEE;
        opacity: 0.8;
      }
    </style>
  </head>
  <body class="font-light navbar-padding">
    {{> html/navbar endpoint='https://openwhiskhub.mybluemix.net/owr/show' }}

    <div class="container-fluid">

      <div class="row search-bar">
        <form id="searchform" onsubmit="search(); return false">
          <div class="form-group" style="width:500px;margin:auto">
            <input id="searchtext" class="form-control" style="float:left;width:89%"
                   type="text"
                   name="text"
                   maxlength="1024"
                   placeholder="enter keywords to search for OpenWhisk packages"
                   value=""/>
            <button id="searchsubmit" type="button" class="btn btn-primary glyphicon glyphicon-search float-right"></button>
          </div>
        </form>

      </div>
      <div class="row">
        <div class="col-xs-9" style="margin-top:10px">
          {{#if withStatic}}
            {{> static/show }}
          {{else}}
            <h2><span id="repo"></span> <small> by <span id="owner"></span></small></h2>
            <div style="border-top:1px solid #DDDDDD" id="readme"></div>
          {{/if}}

        </div>
        <div class="col-xs-3" style="margin-top:100px;border-left:1px solid #DDDDDD;height:200px">
          <div style="margin-bottom:10px"><a id="viewgithub" class="btn btn-primary"><span class="fa fa-github" style="font-size:20px"></span> View on GitHub</a></div>
          <div style="margin-bottom:10px"><button id="deploybluemix" type="button" class="btn btn-primary" onclick="deploy()" disabled>Deploy on Bluemix</button></div>
       </div>
      </div>
    </div>

    {{> html/footer}}
    {{> html/publish}}

  <script type="text/javascript">
    {{> js/common}}
    {{> js/publish}}
    {{> js/bluemix}}

    $("#searchsubmit").click(function() {
      var txt = $("#searchtext").val().trim();
      $("#searchresult").load("search.html?keywords"+last);
    })

    function checkManifest() {
      $.get('https://raw.githubusercontent.com/lionelvillard/openwhisk-hub/master/manifest.yaml', function(data) {
        $("#deploybluemix").prop('disabled', false);
      });
    }

    function refresh() {
      if (state.hasOwnProperty('repo') && state.hasOwnProperty('owner')) {
        $("#repo").text(state.repo);
        $("#owner").text(state.owner);
        $("#viewgithub").attr('href', 'https://github.com/' + state.owner + '/' + state.repo);


        $("#readme").load('../owr/render-readme.html?repo=' + state.repo + '&owner=' + state.owner);
      };
    }


    window.onload = function() {
      onLoadCommon();

      refresh();
    }

  </script>
  </body>
</html>
