<!DOCTYPE html>
<html lang="en">
  <head>
    {{> html/head }}

    <style>
      {{> css/common}}

      .search-bar {
        padding:10px;
        background-color:#EEEEEE;
        opacity: 0.8;
      }
    </style>
  </head>
  <body class="font-light navbar-padding">
    {{#if dev}}
      {{> html/navbar endpoint='https://openwhisk.ng.bluemix.net/api/v1/web/villard@us.ibm.com_dev-test/owr/show.html' }}
    {{else}}
      {{> html/navbar endpoint='https://openwhiskhub.mybluemix.net/owr/show.html' }}
    {{/if}}
    <div class="container-fluid">

      <div class="row search-bar">
        <form id="searchform" onsubmit="search(); return false">
          <div class="form-group" style="width:500px;margin:auto">
            <input id="searchtext" class="form-control" style="float:left;width:89%"
                   type="text"
                   name="text"
                   maxlength="1024"
                   placeholder="enter keywords to search for OpenWhisk packages"
                   value=""/>
            <button id="searchsubmit" type="button" class="btn btn-primary glyphicon glyphicon-search float-right" onclick="return search();"></button>
          </div>
        </form>

      </div>
      <div class="row">
        <div class="col-xs-10" style="margin-top:10px">
          {{#if withStatic}}
            {{> static/show }}
          {{else}}
            <h2><span id="repo"><i class="fa fa-spinner fa-spin"></i></span> <small> by <span id="owner"><i class="fa fa-spinner fa-spin"></i></span></small></h2>
            <div style="border-top:1px solid #DDDDDD" id="readme"><i class="fa fa-cog fa-spin fa-3x"></i></div>
          {{/if}}

        </div>
        <div class="col-xs-2" style="margin-top:100px;border-left:1px solid #DDDDDD;height:200px">
          <div><a id="viewgithub" class="btn btn-primary"><span class="fa fa-github" style="font-size:20px"></span> View on GitHub</a></div>
          <div style="margin-top:10px"><button id="deploybluemix" type="button" class="btn btn-primary" onclick="deploy()" disabled>Deploy on Bluemix</button></div>
          <div style="margin-top:10px"><button id="adddep" type="button" class="btn btn-primary" disabled>Add as Dependency</button></div>
       </div>
      </div>
    </div>

    {{> html/footer}}
    {{> html/publish}}

  <script type="text/javascript">
    {{> js/common}}
    {{> js/publish}}
    {{> js/bluemix}}

    let manifest;

    function search() {
      var txt = $("#searchtext").val().trim();
      window.location.href = "../owr/search-ui.html?keywords="+txt;
      return false;
    }

    function refreshDeploy() {
      let auth = currentAuth()
      $.get('https://raw.githubusercontent.com/lionelvillard/openwhisk-hub/master/manifest.yaml', (data) => {
        manifest = data;
        $("#deploybluemix").prop('disabled', false);
      });
    }

    function refresh() {
      if (state.hasOwnProperty('repo') && state.hasOwnProperty('owner')) {
        $("#repo").text(state.repo);
        $("#owner").text(state.owner);
        $("#viewgithub").attr('href', 'https://github.com/' + state.owner + '/' + state.repo);

        $("#readme").load('../owr/render-readme.html?repo=' + state.repo + '&owner=' + state.owner);
      };

      refreshDeploy();
    }

    window.onload = function() {
      onLoadCommon();

      refresh();
    }

  </script>
  </body>
</html>
