var owauths;

function updateBluemixLoginState() {
  owauths = undefined;
  if ({{#if withStatic }} true || {{/if}}icookies.hasOwnProperty('bluemix')) {
    $('#bluemixLogin').addClass('hidden');

    var bm =
    {{#if withStatic }}
      {
        idRecord: {
          name: 'Lionel Villard'
        },
        id : 'villard@us.ibm.com',
        auths : {
          namespaces: [
            { name: 'villard@us.ibm.com_dev', key: 'fhashfiua' },
            { name: 'villard@us.ibm.com_dev-test', key: 'fhashfiufsafa' }
          ]
        }
      }
    {{else}}
      icookies.bluemix;
    {{/if}}

    $('#userName').text(bm.idRecord.name);
    $('#userID').text(bm.id);

    $('#spaceOptions').html("");

    $.get('../owr/api-keys.json?access_token=' + bm.access_token + "&refresh_token=" + bm.refresh_token, function (data) {
      owauths = data;
      var options = "";
      var namespaces = owauths.namespaces;
      if (namespaces) {
        for  (var i = 0; i < namespaces.length; i++) {
          var space = cfspace(namespaces[i].name);
          if (space) {
            options += '<option>' + space + '</option>';
          }
        }
      }

      $('#spaceOptions').html(options);
      $('#spaceOptions').selectpicker('refresh');

      $('#userDropdown').removeClass('hidden');
    });

  } else {
    $('#bluemixLogin').removeClass('hidden');
    $('#userDropdown').addClass('hidden');
  }
}

// Extract space from namespace
function cfspace(name) {
  var idx = name.lastIndexOf('_');
  return (idx == -1) ? undefined : name.substring(idx + 1);
}

function currentAuth() {
  if (owauths && owauths.namespaces) {
    var selectedAuth = $('#spaceOptions').find("option:selected").text();
    console.log('selectedAuth' + selectedAuth);
    var ns = owauths.namespaces;
    for (var i = 0; i < ns.length; i++) {
      if (space(ns[i].name) === selectedAuth) {
        return ns[i].key;
      }
    }
  }
  return undefined;
}

function deploy() {
  var auth = currentAuth();
  if (auth) {
    $.get('../owr/deploy.json?owner=' + encodeURIComponent(state.owner) + '&repo=' + encodeURIComponent(state.repo) + '&auth=' + encodeURIComponent(auth));
  }
}

function loginBluemix(endpoint) {
  state.providerName = 'bluemix';
  state.redirect_uri = endpoint;

  var url = 'http://login.ng.bluemix.net/UAALoginServerWAR/oauth/authorize';
  var redirect_uri = encodeURIComponent('https://openwhiskhub.mybluemix.net/owr/login-redirect.http');
  var encstate = encodeURIComponent(JSON.stringify(state));

  window.location.href = url + '?client_id=openwhiskhub&response_type=code&redirect_uri=' + redirect_uri + '&state=' + encstate;
}

function logoutBluemix() {
  delete icookies.bluemix;
  document.cookie = "bluemix=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";

  updateBluemixLoginState();
}

function onLoadBluemix() {
  updateBluemixLoginState();
}
