
function updateBluemixLoginState() {
  if ({{#if withStatic }} true || {{/if}}icookies.hasOwnProperty('bluemix')) {
    $('#bluemixLogin').addClass('hidden');

    let bm =
    {{#if withStatic }}
      {
        idRecord: {
          name: 'Lionel Villard'
        },
        id : 'villard@us.ibm.com',
        auths : {
          namespaces: [
            { name: 'villard@us.ibm.com_dev' },
            { name: 'villard@us.ibm.com_dev-test' }
          ]
        }
      }
    {{else}}
      icookies.bluemix;
    {{/if}}

    $('#userName').text(bm.idRecord.name);
    $('#userID').text(bm.id);

    let options = "";
    let namespaces = bm.auths.namespaces;
    if (namespaces) {
      for  (let i = 0; i < namespaces.length; i++) {
        let name = namespaces[i].name;
        let idx = name.lastIndexOf('_');
        if (idx != -1) {
          options += '<option>' + name.substring(idx + 1) + '</option>';
        }
      }
    }

    $('#spaceOptions').html(options);
    $('#spaceOptions').selectpicker('refresh');

    $('#userDropdown').removeClass('hidden');
  } else {
    $('#bluemixLogin').removeClass('hidden');
    $('#userDropdown').addClass('hidden');
  }
}

function loginBluemix(endpoint) {
  state.providerName = 'bluemix';
  state.redirect_uri = endpoint;

  let url = 'http://login.ng.bluemix.net/UAALoginServerWAR/oauth/authorize';
  let redirect_uri = encodeURIComponent('https://openwhiskhub.mybluemix.net/owr/login-redirect.http');
  let encstate = encodeURIComponent(JSON.stringify(state));

  window.location.href = url + '?client_id=openwhiskhub&response_type=code&redirect_uri=' + redirect_uri + '&state=' + encstate;
}

function logoutBluemix() {
  delete icookies.bluemix;
  document.cookie = "bluemix=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";

  updateBluemixLoginState();
}
