<footer class="footer navbar-fixed-bottom">
    <p class="text-muted">
      Try <a href="https://ibm.biz/openwhisk">OpenWhisk on IBM
      Bluemix</a> today or visit <a href="http://openwhisk.org">Apache
      Openwhisk</a> to learn more.
    </p>
</footer>
