<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <div class="row">
        <img class="img-openwhisk" src="http://openwhisk.org/images/apache-openwhisk.svg" alt="Apache OpenWhisk">
        <button id="bluemixLogin" class="btn btn-sm btn-link float-right" onclick="loginBluemix('{{endpoint}}')">Log in Bluemix</button>
        <button id="bluemixLogout" class="btn btn-sm btn-link float-right hidden" onclick="logoutBluemix()">Log out</button>
        <button class="btn btn-sm btn-link float-right" onclick="showPublish()">Publish a Package</button>
      </div>
  </div>
</nav>
