<div class="list-group-item well entry">
    <div class="row">
      <div class="text-center" style="font-size:18px;font-weight:500;padding-bottom:15px">OpenWhisk Registry</div>
      <div class="text-center edesc">A simple OpenWhisk Registry design to host OpenWhisk actions</div>
      <div><a href="https://github.com/lipis/bootstrap-social" class="btn btn-outline"><span class="fa fa-github" style="font-size:20px;"></span> View on GitHub</a></div>
    </div>

</div>
<div class="list-group-item well entry hvr-glow">
    <div class="row" onclick="location.href='../show/show.html?owner=openwhisk&repo=openwhisk'">
        <div class="text-center etitle">OpenWhisk Registry</div>
        <div class="text-center edesc">A simple OpenWhisk Registry design to host OpenWhisk actions fjdafjoaisjfoiafoajfodaijfoajdfoaijdoj</div>
        <div><a href="https://github.com/lipis/bootstrap-social" class="btn btn-outline"><span class="fa fa-github" style="font-size:20px;"></span> View on GitHub</a></div>

    </div>

</div>
<div class="list-group-item well entry">
    <div class="row">
      <div class="text-center etitle">OpenWhisk Registry</div>
      <div class="text-center edesc">A simple OpenWhisk Registry design to host OpenWhisk actions</div>
      <div><a href="https://github.com/lipis/bootstrap-social" class="btn btn-outline"><span class="fa fa-github" style="font-size:20px;"></span> View on GitHub</a></div>
    </div>

</div>
