<h1><a id="user-content-setup" class="anchor" href="#setup" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Setup</h1>
<p>This project relies on <a href="https://cloudant.com/">Cloudant</a> being provisioned somewhere. When this is done, update <code>db.json</code> with your provisioned Cloudant service credentials.</p>
<p>Then run the <code>install.sh</code> script to deploy the OpenWhisk actions managing the registry. </p>
